.fancy-btn {
    position: relative;
    --mouse-x: 0;
    --mouse-y: 0;
    --content-width: 0;

    border: none;
    cursor: pointer;
    height: 3rem;
    width: 100%;
    font: bold 1rem 'Circular';
    color: var(--clr255);
    border-radius: 0.5rem;
    background-color: transparent;
    overflow: hidden;
    background-repeat: repeat;
    background-image: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);

    &::after {
        content: '';
        display: block;
        border-radius: 0.5rem;
        height: 100%;
        width: 100%;
        background-image: radial-gradient(circle at center center, rgb(189, 30, 89) 0%, rgb(189, 30, 89) 27.5%, rgb(215, 4, 102) 40%, rgb(227, 28, 95) 57.5%, rgb(230, 30, 77) 75%, rgb(255, 56, 92) 100%);
        background-position: calc(var(--mouse-x, 0) * 1px) calc(var(--mouse-y, 0) * 1px);
        background-size: 200% 200%;
        transition: opacity 1.25s;
        opacity: 0;
    }

    &:hover::after {
        opacity: 1;
    }

    .fancy-btn-content {
        display: grid;
        position: absolute;
        pointer-events: none;
        grid-auto-flow: column;
        align-items: center;
        min-width: fit-content;
        width: fit-content;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
}