@font-face {
    font-family: 'Circular';
    src: url(../../fonts/Circular/Airbnb_Cereal-Medium.woff2) format(woff2);
    font-weight: bold;
}

@font-face {
    font-family: 'Circular';
    src: url(../../fonts/Circular/Airbnb_Cereal-Bold.woff2) format(woff2);
    font-weight: 800;
}

@font-face {
    font-family: 'Circular';
    src: url(../../fonts/Circular/Airbnb_Cereal-Book.woff2) format(woff2);
}