:root {
    --clr0: rgb(34, 34, 34);
    --clr1: rgb(113, 113, 113);
    --clr2: rgb(176, 176, 176);
    --clr3: rgb(223, 240, 234);
    --clr4: rgb(235, 235, 235);
    --clr5: rgb(247, 247, 247);
    --clr255: #fff;
    --clrTheme: rgb(255, 56, 92);
    --clrShadow: rgb(221, 221, 221);

    --height-header: calc(0px + 5rem);
    --height-toggle-expand: calc(0px + 3rem);
    --max-width: 2520px;
    --margin-side: 40px;
    --width-mobile: 744px;
}